@media only screen and (max-width: 1820px) {
    #main-page-gif {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    margin: 0%;
    min-height: 100%;
}

h1 {
    font-family: 'Open Sans';
    font-size: 150px;
    font-weight: 800;
    color: #5065a7;
    font-style: italic;
    text-shadow: #f2eee3 2px 2px;
    text-align: left;
}

h2 {
    font-family: 'Open Sans';
    font-size: 75px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

a:link.link-body {
    color: whitesmoke;
    display: block;
    text-align: center;
}

a:link.link-footer {
    color: black;
    font-style: italic;
}

#logo {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
}

.nav {
    list-style-type: none;
    margin-top: 150px;
    padding: 0;
    width: 150px;
    background-color: slategray;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin-bottom: 75%;
    padding: 20px 10px;
}

li :first-child {
    margin-top: 20%;
}

li:hover {
    background-color: #f2eee3;
}

#main-page {
    scroll-behavior: smooth;
    margin-left: 150px;
    height: 100vh;
    min-height: 700px;
    max-height: 1000px;
}

#main-page-gif {
    position: absolute;
    background-color: slategray;
    right: 0%;
    width: 45%;
    height: 100%;
    z-index: -1;
}

#name-card {
    float: left;
    padding: 40px;
    margin-top: 10%;
    margin-bottom: auto;
    width: 50%;
    height: fit-content;
}

#portrait {
    position: absolute;
    float: right;
    left: 650px;
    max-width: 350px;
}

#about-me {
    scroll-behavior: smooth;
    margin-left: 150px;
    height: 100vh;
    min-height: 900px;
    max-height: 1000px;
    padding: 10% 10% 0 10%;
}

#about-left {
    width: 40%;
    float: left;
    margin-right: 10%;
}

#about-right {
    width: 40%;
    float: right;
    margin-right: 10%;
}

#about-top {
    text-align: center;
}

#about-bottom {
    position: relative;
    text-align: center;
}

#projects {
    scroll-behavior: smooth;
    background-color: #5065a7;
    height: fit-content;
    margin-left: 150px;
    padding-top: 5%;
}

#project-main {
    text-align: center;
    width: 70%;
    display: block;
    margin: auto;
}

#gif-container {
    background-color: #5065a7;
    max-width: 90%;
    padding: 5%;
    align-content: center;
    display: grid;
    align-items: center;
    justify-items: center;
}

#Project-gif {
    max-width: 100%;
    width: 75%;
    height: auto;
    position: relative;
    padding: 10%;
}

#Diploma {
    position: relative;
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 10%;
}

#about-portrait {
    width: 60%;
    display: block;
    margin: auto;
    padding-bottom: 10%;
}

.project-gif {
    width: 50%;
}

.gif-description {
    position: relative;
    float: right;
    width: 30%;
    display: block;
    margin: auto;
}

.gif-container-item {
    height: fit-content;
    padding: 5% 10% 5% 0%;
}

.badge-base {
}

.footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0px 100px;
}

#github-logo {
    width: 200px;
}

footer {
    margin-left: 150px;
}
